{% extends 'base.html' %}

{% block main %}
<div class="admin-main">
<h1>Add Word</h1>
<form method="post" action="/add-word" enctype="multipart/form-data" onsubmit="return confirm('Do you really want to add this word?');">
    <h5>Maori Word</h5>
    <input type="text" name="maori_word" id="maori_word" required minlength="2" maxlength="{{ max_maori }}" pattern="{{ word_regex }}" title="The word cannot have any special characters or numbers bar the '-', ' ', and '''">
    <br>
    <h5>English Translation</h5>
    <input type="text" name="english_word" id="english_word" required maxlength="{{ max_english }}" minlength="2"  pattern="{{ word_regex }}" title="The word cannot have any special characters or numbers bar the '-', ' ', and '''">
    <br>
    <h5>Definition</h5>
    <input type="text" name="definition" id="definition" required maxlength="{{ max_definition }}" minlength="2">
    <br>
    <h5>Image File</h5>
    <input type="file" name="image_file" id="image_file" required>
    <br>
    <h5>Category</h5>
    <select id="cat_id" name="cat_id" required>
        {% for category in categories %}
        <option value="{{ category[0] }}">{{ category[1] }}</option>
        {% endfor %}
    </select>
    <br>
    <h5>Year Level</h5>
    <select id="level_id" name="level_id" required>
        {% for level in levels %}
        <option value="{{ level }}">{{ level }}</option>
        {% endfor %}
    </select>
    <div class="error">{{ error }}</div>
    <input type="submit" value="Add">
</form>


    <h1>Add Category</h1>
    <form method="post" action="/add-category" onsubmit="return confirm('Do you really want to add this category?');">
        <h5>Category Name</h5>
        <input type="text" name="category_name" id="category_name" required minlength="2" maxlength="45">
        <br>
        <div class="error">{{ error }}</div>
        <input type="submit" value="Add">
    </form>

    <h1>Delete Category</h1>
    <form method="post" action="/delete-category" onsubmit="return confirm('Do you really want to delete this category?');">
        <h5>Category Name</h5>
        <select id="cat_id" name="cat_id" required>
            {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="error">{{ error }}</div>
        <input type="submit" value="Delete">
    </form>
</div>

{% endblock %}