{% extends 'base.html' %}

{% block main %}
<div class="grid-container">
    {% for word in words %}
    <div class="container">
    <a href="/words/{{ word[0] }}">
        <div class="content-box">
            {% if word[4]|length %}
                <img src="/static/images/{{ word[4] }}" alt="{{ word[4]}}">
            {% else %}
                <img src="/static/images/no-image-available.png" alt="no-image-available.png">
            {% endif %}
            <h5>{{ word[1] }}</h5>
            <h5>{{ word[2] }}</h5>
            <h5>{{ word[3] }}</h5>
        </div>
    </a>
    </div>
    {% endfor %}

</div>
{% endblock %}