{% extends 'base.html' %}

{% block main %}
<div class="image">
    {% for info in word_list %}
        {% if info[4]|length %}
            <img src="/static/images/{{ info[4] }}" alt="{{ info[4] }}">
        {% else %}
            <img src="/static/images/no-image-available.png" alt="no-image-available.png">
        {% endif %}
    {% endfor %}

</div>
<div class="container">
    {% if logged_in[1] %}
        <form method="post" action="/edit-word" enctype="multipart/form-data" class="container-form" onsubmit="return confirm('Do you really want to edit this word?');">
        {% for info in word_list %}
            <input type="hidden" value="{{ info[4] }}" name="previous_img_src" id="previous_img_src">
            <input type="hidden" value="{{ info[0] }}" name="id" id="id">
            <p>Maori Word</p>
            <input type="text" name="maori_word" id="maori_word" required minlength="2" maxlength="{{ max_maori }}" value="{{ info[1] }}" pattern="{{ word_regex }}" title="The word cannot have any special characters or numbers bar the '-', ' ', and '''">
            <br>
            <p>English Translation</p>
            <input type="text" name="english_word" id="english_word" required maxlength="{{ max_english }}" minlength="2" value="{{ info[2] }}" pattern="{{ word_regex }}" title="The word cannot have any special characters or numbers bar the '-', ' ', and '''">
            <br>
            <p>Description</p>
            <input type="text" name="definition" id="definition" required maxlength="{{ max_definition }}" minlength="2" value="{{ info[3] }}">
            <br>
            <p>Image File</p>
            <input type="file" name="image_file" id="image_file">
            <br>
            <p>Category</p>
            <select id="cat_id" name="cat_id" required>
                <option value="{{ info[8] }}" selected hidden>{{ info[9] }}</option>
                {% for category in category_list %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
                {% endfor %}
            </select>
            <br>
            <p>Year Level</p>
            <select id="level_id" name="level_id" required>
                <option value="{{ info[7] }}" selected hidden>{{ info[7] }}</option>
                {% for level in levels %}
                <option value="{{ level }}">{{ level }}</option>
                {% endfor %}
            </select>
            <p>Last Edit Time</p> <h3 id="new_edit_time">{{ info[5] }}</h3>
            <p>Author of Entry</p> <h3 id="new_author">{{ info[6] }}</h3>
            <div class="error">{{ error }}</div>
            <input type="submit" value="Edit">

        </form>
        <form method="post" action="/delete-word" onsubmit="return confirm('Do you really want to delete this word?');">
            <input type="hidden" value="{{ info[0] }}" name="deletion_id" id="deletion_id">
            <input type="submit" value="OR Delete?">
        </form>
        {% endfor %}

    {% else %}
        {% for info in word_list %}
        <p>Maori Word</p> <h1 contenteditable="{{ logged_in[1] }}" id="new_maori_word">{{ info[1] }}</h1>
        <p>English Translation</p> <h3 contenteditable="{{ logged_in[1] }}" id="new_translation">{{ info[2] }}</h3>
        <p>Definition</p> <h3 contenteditable="{{ logged_in[1] }}" id="new_definition">{{ info[3] }}</h3>
            {# you can't edit the time because that is done auto maticallu #}
        <p>Last Edit Time</p> <h3 id="new_edit_time">{{ info[5] }}</h3>
            {# and you cant edit the author because that is also done automatically #}
        <p>Author of Entry</p> <h3 id="new_author">{{ info[6] }}</h3>
        <p>Year Level</p> <h3 contenteditable="{{ logged_in[1] }}" id="new_level">{{ info[7] }}</h3>
        <p>Category</p> <h3 contenteditable="{{ logged_in[1] }}" id="new_category">{{ info[9] }}</h3>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}